@font-face {
    font-family: FactoriaBold;
    src: url("../fonts/Factoria-Bold.otf");
}

@font-face {
    font-family: FactoriaBook;
    src: url("../fonts/Factoria-Book.otf");
}

@font-face {
    font-family: FactoriaMedium;
    src: url("../fonts/Factoria-Medium.otf");
}

@font-face {
    font-family: HanleyRoughScript;
    src: url("../fonts/HanleyRough-Script.otf");
}

@font-face {
    font-family: TrendRoughSansFive;
    src: url("../fonts/TrendRoughSansFive.otf");
}

@font-face {
    font-family: TrendRoughSansOne;
    src: url("../fonts/TrendRoughSansOne.otf");
}