@import './settings/fonts';
@import './components/navbar';
@import './components/order';
@import './components/carousel';
@import './components/menu';
@import './components/reservation';
@import './components/cheese';
@import './components/drinks';
@import './components/happyhour';
@import './components/parties';
@import './components/story';
@import './components/footer';
@import './components/subsiteDrinks';

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: FactoriaBold;
    font-size: 17px;
    scroll-behavior: smooth;
}