@font-face {
  font-family: FactoriaBold;
  src: url("../fonts/Factoria-Bold.otf");
}

@font-face {
  font-family: FactoriaBook;
  src: url("../fonts/Factoria-Book.otf");
}

@font-face {
  font-family: FactoriaMedium;
  src: url("../fonts/Factoria-Medium.otf");
}

@font-face {
  font-family: HanleyRoughScript;
  src: url("../fonts/HanleyRough-Script.otf");
}

@font-face {
  font-family: TrendRoughSansFive;
  src: url("../fonts/TrendRoughSansFive.otf");
}

@font-face {
  font-family: TrendRoughSansOne;
  src: url("../fonts/TrendRoughSansOne.otf");
}

@font-face {
  font-family: FactoriaBold;
  src: url("../fonts/Factoria-Bold.otf");
}

@font-face {
  font-family: FactoriaBook;
  src: url("../fonts/Factoria-Book.otf");
}

@font-face {
  font-family: FactoriaMedium;
  src: url("../fonts/Factoria-Medium.otf");
}

@font-face {
  font-family: HanleyRoughScript;
  src: url("../fonts/HanleyRough-Script.otf");
}

@font-face {
  font-family: TrendRoughSansFive;
  src: url("../fonts/TrendRoughSansFive.otf");
}

@font-face {
  font-family: TrendRoughSansOne;
  src: url("../fonts/TrendRoughSansOne.otf");
}

#bootstrap-override .navbar {
  background: #1c1c1e;
}

#bootstrap-override .navbar .navbar-brand {
  margin-left: 20px;
}

#bootstrap-override .navbar .nav-link {
  color: #9f554a;
  font-family: FactoriaBold;
  margin-right: 15px;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

#bootstrap-override .navbar .nav-link:hover {
  color: white;
}

@media (max-width: 992px) {
  #bootstrap-override .navbar {
    padding-bottom: 20px;
  }
  #bootstrap-override .navbar .navbar-brand img {
    width: 50%;
  }
  #bootstrap-override .navbar .navbar-toggler {
    margin-right: 50px;
    border: none;
    color: #9f554a;
  }
  #bootstrap-override .navbar .navbar-toggler .my-navbar-toggler-icon img {
    width: 25px;
  }
  #bootstrap-override .navbar .navbar-nav {
    background-color: #9f554a;
    margin: 10px 5% 0;
  }
  #bootstrap-override .navbar .navbar-nav .nav-link {
    color: white;
    margin-right: 15px;
    -webkit-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
    text-align: right;
    font-size: 25px;
    font-family: FactoriaMedium;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  #bootstrap-override .navbar .navbar-toggler {
    margin-right: 20px;
  }
}

@font-face {
  font-family: FactoriaBold;
  src: url("../fonts/Factoria-Bold.otf");
}

@font-face {
  font-family: FactoriaBook;
  src: url("../fonts/Factoria-Book.otf");
}

@font-face {
  font-family: FactoriaMedium;
  src: url("../fonts/Factoria-Medium.otf");
}

@font-face {
  font-family: HanleyRoughScript;
  src: url("../fonts/HanleyRough-Script.otf");
}

@font-face {
  font-family: TrendRoughSansFive;
  src: url("../fonts/TrendRoughSansFive.otf");
}

@font-face {
  font-family: TrendRoughSansOne;
  src: url("../fonts/TrendRoughSansOne.otf");
}

#bootstrap-override .order {
  background-image: url("../img/desktop/cutiepies-pizza-1.jpg");
  background-size: cover;
  background-position: right;
  height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bootstrap-override .order .content {
  text-align: right;
  margin-right: 90px;
  width: 400px;
}

#bootstrap-override .order .content h1 {
  color: white;
  font-family: TrendRoughSansOne;
  font-size: 50px;
  margin-bottom: 25px;
}

#bootstrap-override .order .content span {
  color: #9f554a;
  font-family: FactoriaMedium;
  font-size: 30px;
}

#bootstrap-override .order .content button {
  margin-top: 35px;
}

#bootstrap-override .order .content button a {
  color: #9f554a;
  border: solid 2px #9f554a;
  border-radius: 30px;
  font-size: 20px;
  font-family: FactoriaBook;
  padding: 7px 50px 10px;
  text-decoration: none;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

#bootstrap-override .order .content button a:hover {
  background: white;
  border: solid 2px white;
}

@media (max-width: 768px) {
  #bootstrap-override .order {
    background: #242426;
    min-height: 100vh;
    height: 100%;
  }
  #bootstrap-override .order .bcground--mobile {
    background-image: url("../img/mobile/cutiepies-pizza-1-xs.jpg");
    background-size: cover;
    background-position: bottom;
    height: 35%;
    width: 100vw;
    position: absolute;
    top: 0;
  }
  #bootstrap-override .order .content {
    text-align: center;
    width: 100vw;
    margin: 0;
  }
  #bootstrap-override .order .content h1 {
    margin-top: 200px;
  }
}

#bootstrap-override .carousel-item .col-md-4 .card {
  margin: -2px;
}

#bootstrap-override .carousel-item .col-md-4 .card .card-img {
  margin: -1px;
}

#bootstrap-override .carousel-control-prev, #bootstrap-override .carousel-control-next {
  width: 75px;
  margin: 0;
  padding: 0;
}

#bootstrap-override .carousel-control-prev .carousel-control-prev-ico, #bootstrap-override .carousel-control-prev .carousel-control-next-ico, #bootstrap-override .carousel-control-next .carousel-control-prev-ico, #bootstrap-override .carousel-control-next .carousel-control-next-ico {
  background: #9f554a;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

#bootstrap-override .carousel-control-prev .carousel-control-prev-ico img, #bootstrap-override .carousel-control-prev .carousel-control-next-ico img, #bootstrap-override .carousel-control-next .carousel-control-prev-ico img, #bootstrap-override .carousel-control-next .carousel-control-next-ico img {
  width: 50px;
  height: 50px;
  opacity: 1;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(33.33%);
            transform: translateX(33.33%);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-33.33%);
            transform: translateX(-33.33%);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@font-face {
  font-family: FactoriaBold;
  src: url("../fonts/Factoria-Bold.otf");
}

@font-face {
  font-family: FactoriaBook;
  src: url("../fonts/Factoria-Book.otf");
}

@font-face {
  font-family: FactoriaMedium;
  src: url("../fonts/Factoria-Medium.otf");
}

@font-face {
  font-family: HanleyRoughScript;
  src: url("../fonts/HanleyRough-Script.otf");
}

@font-face {
  font-family: TrendRoughSansFive;
  src: url("../fonts/TrendRoughSansFive.otf");
}

@font-face {
  font-family: TrendRoughSansOne;
  src: url("../fonts/TrendRoughSansOne.otf");
}

#bootstrap-override .menu {
  background-image: url("../img/desktop/cutiepies-pizza-2.jpg");
  background-size: cover;
  background-position: left;
  height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bootstrap-override .menu .content__menu {
  text-align: left;
  margin-left: 90px;
  width: 400px;
}

#bootstrap-override .menu .content__menu h1 {
  color: white;
  font-family: HanleyRoughScript;
  font-size: 50px;
  margin-bottom: 25px;
}

#bootstrap-override .menu .content__menu span {
  color: #9f554a;
  font-family: FactoriaMedium;
  font-size: 30px;
}

#bootstrap-override .menu .content__menu button {
  margin-top: 35px;
}

#bootstrap-override .menu .content__menu button a {
  color: #9f554a;
  border: solid 2px #9f554a;
  border-radius: 30px;
  font-size: 20px;
  font-family: FactoriaBook;
  padding: 7px 50px 10px;
  text-decoration: none;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

#bootstrap-override .menu .content__menu button a:hover {
  background: white;
  border: solid 2px white;
}

@media (max-width: 768px) {
  #bootstrap-override .menu {
    background: #242426;
    min-height: 100vh;
    height: 100%;
  }
  #bootstrap-override .menu .bcground__menu--mobile {
    background-image: url("../../img/mobile/cutiepies-pizza-2-xs.jpg");
    background-size: cover;
    background-position: bottom;
    height: 35%;
    width: 100vw;
    position: absolute;
    top: 0;
  }
  #bootstrap-override .menu .content__menu {
    text-align: center;
    width: 100vw;
    margin: 0;
  }
  #bootstrap-override .menu .content__menu h1 {
    margin-top: 200px;
  }
}

@font-face {
  font-family: FactoriaBold;
  src: url("../fonts/Factoria-Bold.otf");
}

@font-face {
  font-family: FactoriaBook;
  src: url("../fonts/Factoria-Book.otf");
}

@font-face {
  font-family: FactoriaMedium;
  src: url("../fonts/Factoria-Medium.otf");
}

@font-face {
  font-family: HanleyRoughScript;
  src: url("../fonts/HanleyRough-Script.otf");
}

@font-face {
  font-family: TrendRoughSansFive;
  src: url("../fonts/TrendRoughSansFive.otf");
}

@font-face {
  font-family: TrendRoughSansOne;
  src: url("../fonts/TrendRoughSansOne.otf");
}

#bootstrap-override .reservation {
  background: #666;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bootstrap-override .reservation .reservation__img {
  padding: 0;
  height: 100%;
  min-height: 400px;
}

#bootstrap-override .reservation .reservation__img img {
  width: 100%;
  height: 100%;
}

#bootstrap-override .reservation .content__reservation {
  text-align: left;
  margin: 0;
  height: 100%;
  min-height: 300px;
  padding: 0;
}

#bootstrap-override .reservation .content__reservation h1 {
  color: white;
  font-family: TrendRoughSansOne;
  font-size: 50px;
  margin: 0 0 25px 70px;
}

#bootstrap-override .reservation .content__reservation p {
  color: white;
  font-family: FactoriaBook;
  font-size: 20px;
  margin-left: 70px;
}

#bootstrap-override .reservation .content__reservation button {
  margin-left: 60px;
}

#bootstrap-override .reservation .content__reservation button a {
  color: white;
  border: solid 2px white;
  border-radius: 30px;
  font-size: 18px;
  font-family: FactoriaBook;
  padding: 7px 50px 10px;
  text-decoration: none;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

#bootstrap-override .reservation .content__reservation button a:hover {
  background: white;
  border: solid 2px white;
}

@media (max-width: 992px) {
  #bootstrap-override .reservation {
    height: 100%;
  }
  #bootstrap-override .reservation .content__reservation {
    text-align: center;
    width: 100vw;
    margin: 0;
    padding: 20px 0;
  }
  #bootstrap-override .reservation .content__reservation h1, #bootstrap-override .reservation .content__reservation p, #bootstrap-override .reservation .content__reservation button {
    margin: 0;
  }
}

@media (max-width: 576px) {
  #bootstrap-override .reservation .content__reservation {
    margin-top: -150px;
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: FactoriaBold;
  font-size: 17px;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */