@import '../settings/variables';

#bootstrap-override {
    .cheese {
        background-image: url('../img/desktop/cheese-background.jpg'); 
        background-position: top;
        background-size: cover;
        width: 100vw;
        height: 200px;
    }
}

@media (max-width: $sm) {
    #bootstrap-override {
        .cheese {
            height: 80vw;
        }
    }
}