@import '../settings/fonts';
@import '../settings/variables';

#bootstrap-override {
    .navbar {
        background: $secondaryColor;
        
        .navbar-brand {
            margin-left: 20px;
        }
        .nav-link {
            color: $primaryColor;
            font-family: FactoriaBold;
            margin-right: 15px;
            transition: color 0.5s ease-out;

            &:hover {
                color: $thirdColor;
            }
        }
    }
}

@media (max-width: $lg){
    #bootstrap-override {
        .navbar {
            padding-bottom: 20px;

            .navbar-brand {
                img {
                    width: 50%;
                }
            }
            .navbar-toggler {
                margin-right: 50px;
                border: none;
                color: $primaryColor;

                .my-navbar-toggler-icon{
                    img {
                        width: 25px;
                    }
                }

            }
            .navbar-nav {
                background-color: $primaryColor;
                margin: 10px 5% 0;

                .nav-link {
                    color: white;
                    margin-right: 15px;
                    transition: color 0.5s ease-out;
                    text-align: right;
                    font-size: 25px;
                    font-family: FactoriaBook;
                    padding: 10px;
                }
            }
           
        }
    }
}

@media (max-width: $sm){
    #bootstrap-override {
        .navbar {
            .navbar-toggler {
                margin-right: 20px;
            }
        }
    }
}